:root {
    --bg-color: #E7D9CA;
    --text-color1: var(--color6);
    --text-color2: black;
    --color0: #F3C3B1;
    --color1: #F1422C;
    --color2: #B4992D;
    --color3: #6B69B5;
    --color4: #B3C4D1;
    --color5: #3A0605;
    --color6: #995F54;
    --date-text: calc(8px + 0.5vw);
    --latest-text: calc(25px + 0.5vw);
    --latest-line-height: 3;
    --header-text: calc(20px + 0.5vw);
    --header2-line-height: 2;
    --body-text: calc(15px + 0.5vw);
    --body-line-height: 1.125;
    --publication-card-title-text: calc(18px + 0.5vw);
    --publication-card-line-height: 0.5;
    --publication-title-text: calc(17px + 0.5vw)
}

@font-face {
    font-family: 'Times Mono Regular';
    src: url('asset/font/Hershey-Noailles/Hershey-Noailles-Times-Mono-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Old French Bold';
    src: url('asset/font/Hershey-Noailles/Hershey-Noailles-OldFrench-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Simplex Regular';
    src: url('asset/font/Hershey-Noailles/Hershey-Noailles-Futura-Simplex-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times Triplex Italic Regular';
    src: url('asset/font/Hershey-Noailles/Hershey-Noailles-Times-Triplex-Italic-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    border: 1px solid var(--text-color2);
    margin: 7px;
    font-family: 'Old French Bold', 'Courier New', Courier, Fixed;
    font-size: var(--body-text);
    /* color: var(--text-color2); */
    line-height: var(--body-line-height);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;

}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--text-color2);
    text-decoration: none;
}

.date {
    font-family: 'Courier New', Courier, fixed !important;
    font-size: var(--date-text);
    color: var(--text-color2);
    float: right;
    padding: 1%;
}

.mural {
    display: flex;
}

.title {
    margin: 5rem 5rem 0;
}

.title-tag h1 {
    /* Sojourners for Justice Press */
    font-family: 'Hershey-Noailles-Times-Mono-Regular', Times, serif;
    font-style: normal;
    font-weight: normal;
    color: var(--text-color1);
    font-size: 40px;
    line-height: 53px;
    text-decoration: underline !important;
}

#title {
    font-family: 'Futura Simplex Regular', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: var(--publication-card-title-text);
    line-height: var(--publication-card-line-height);
    color: var(--text-color1);
    text-decoration: none;
}

h2 .heading2 {
    line-height: var(--header2-line-height)
}

nav {
    color: var(--text-color1);
}

.dropdown {
    z-index: 1000;
    position: relative;
    display: inline-block;
    cursor: context-menu;
}

.dropdown-button {
    font-family: 'Futura Simplex Regular', Arial, Helvetica, sans-serif;
    color: var(--text-color1);
    padding: 10px 10px;
}

.dropdown-content {
    font-family: 'Futura Simplex Regular', Arial, Helvetica, sans-serif;
    display: none;
    position: absolute;
    background-color: var(--color0);
    border: 1px solid var(--text-color2);
    border-radius: 5px;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: context-menu;
}

.arrow::after {
    content: "\25be"

}

.sub-index {
    padding: 10px;
}

.blurb,
nav {
    margin: 0 5rem 0;
}

.mural-img {
    flex-grow: 2;
}

.mural-item {
    width: 50%;
}

.latest {
    display: flex;
    justify-content: center;
}

#latest {
    font-family: 'Times Triplex Italic Regular' !important;
    font-weight: normal;
    font-style: bold;
    font-size: var(--latest-text);
    line-height: var(--latest-line-height);
    text-align: center;
}

.latest-item {
    width: 25vw;
    height: auto;
    margin: 0.5em;
    border: 1px solid var(--text-color2);
    padding: 1rem;
}

.latest-item img {
    border: 1px solid var(--text-color2);
    padding: 0.5em;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;

}

.loading p span {
    animation: type 8s steps(60, end);

    @keyframes type {
        from {
            width: 0;
        }
    }

    @keyframes cursor-blink {
        0% {
            opacity: 0;
        }
    }
}

.loading p::after {
    content: "...";
    animation: cursor-blink 1.5s steps(2) infinite;
}

.publicationList,
.eventList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.publicationDiv,
.eventDiv {
    width: 20vw;
    height: auto;
    margin: 0.25em;
    border: 1px solid var(--text-color2);
    padding: 1rem;
}

.publicationDiv img,
.eventDiv img {
    border: 1px solid var(--text-color2);
    padding: 0.5em;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;

}

/* h1 {
    font-size: var(--header-text);
} */

/* .publicationTitle {
    font-size: var(--publication-title-text);
} */

img {
    display: block;
    max-width: 100%;
}

/* detail page */
.publicationDetail {
    position: relative;
    top: 0;
    right: 0;
    display: none;
    margin: 0;
    /* height: 100vh; */
    padding: 1rem;
    width: 100%;
    /* border: 1px solid var(--text-color2); */
    /* background-color: var(--color0); */
}

#publicationImg {
    margin: 1rem 1rem 1rem 0;
    display: inline-block;
    background-size: cover;
}

.carousel {
    /* overflow-x: auto !important;
    overflow-y: hidden !important; */
    overflow: auto;
    white-space: nowrap;
}

.carousel:first-child {
    height: 50vh !important;
    display: inline-block;
    overflow: hidden;
}

.carousel img {
    /* width: auto !important; */
    height: 50vh;
    cursor: pointer;
}

.button-container {
    outline: none;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    text-align: center;
    justify-content: flex-end;
}

.button {
    font-family: 'Futura Simplex Regular', Arial, Helvetica, sans-serif;
    color: var(--text-color1);
    display: block;
    width: 100%;
    margin: 10px 10px 10px 0px;
    padding: 7px 25px 7px 25px;
    background-color: var(--color4) !important;
    border: 1px solid var(--text-color2);
    border-radius: 5px;
    text-align: center;
    /* align-items: flex-end; */
}

.button:link {
    color: var(--text-color2);
    text-decoration: none;
}

.header {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 2vh;
}

.footer {
    margin-top: 2%;
    background-color: var(--color4);
    position: -webkit-sticky;
    /* safari */
    position: sticky;
    left: 0;
    bottom: 0;
    /* background: var(--color3); */
    width: 100%;
    display: flex;
}

.header-item,
.footer-item {
    width: 100%;
    margin: 2vh 2vw;
    justify-content: space-between;

}

.footer p {
    margin-bottom: auto;
    justify-content: flex-end;
}

.copyright {
    text-align: right;
}

#loadingGif {
    background: url("/asset/loading.gif") no-repeat;
    width: 400px;
}